.component-catalog-recipe {
  &__title {
    margin-top: 80px;
  }
}

.add-recipe {
  border: 1px solid;
  padding: 2% 1% 1% 1%;
  .form__paragraph {
    margin-block-start: 3%;
    margin-block-end: 0px;
  }
  ul {
    padding-inline-start: 15px;
  }
  li {
    list-style: none;
  }
  .form-ingredient-recipe {
    border: 1px solid;
    margin-top: 6%;
    margin-left: 6%;
    padding-bottom: 0%;
    margin-bottom: 8%;
  }
  .button {
    margin-left: auto;
    margin-top: 3%;
  }
}

.display-catalog-recipe {
  .searchbox {
    margin-left: 18px;
    margin-bottom: 60px;
  }
  .Recipe__title {
    margin-bottom: 0%;
    display: flex;
  }
  .buttons-container {
    margin-left: auto;
  }
}

.recipe-message {
  color: #d14642;
  margin-top: 3px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 0.75rem;
  letter-spacing: 0.03333em;
}

@media (min-width: 948px) {
  .component-catalog-recipe {
    display: grid;
    grid-template-columns: minmax(420px, 480px) minmax(440px, 570px);
    grid-template-areas:
      "title title"
      "ajout catalogue";
    justify-content: center;
    gap: 8%;
    &__title {
      grid-area: title;
      margin-left: 10px;
    }
  }

  .add-recipe {
    grid-area: ajout;
    margin-left: 10px;
  }

  .display-catalog-recipe {
    grid-area: catalogue;
    margin-right: 10px;
  }
}

@media (max-width: 947px) {
  .component-catalog-recipe {
    display: grid;
    grid-template-columns: minmax(0px, 460px);
    grid-template-areas:
      "title"
      "ajout"
      "catalogue";
    justify-content: center;
    gap: 80px;
    &__title {
      padding: 0%;
      margin-bottom: 0;
    }
  }
}
