.component-catalog-ingredients {
  &__title-h1 {
    margin-top: 80rem;
  }
}

.add-catalog-ingredient {
  border: 1rem solid;
  padding: 1% 0%;
  &__form-container {
    padding-block-end: 0%;
  }
}

.catalog-ingredients {
  .searchbox {
    margin-bottom: 50rem;
  }
  &__ingredients-container {
    padding-inline-start: 23rem;
  }
  &__ingredient {
    padding-bottom: 1%;
    .button {
      margin-left: 2%;
    }
  }
}

.ingredient__error-message {
  color: #d14642;
  margin-top: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
  font-size: 12rem;
  letter-spacing: 0.03333em;
}

@media (min-width: 948px) {
  .component-catalog-ingredients {
    display: grid;
    grid-template-columns: minmax(420rem, 500rem) minmax(300rem, 530rem);
    grid-template-areas:
      "title title"
      "ajout catalogue";
    justify-content: center;
    row-gap: 70rem;
    &__title {
      grid-area: title;
      margin-left: 10rem;
    }
  }

  .add-catalog-ingredient {
    grid-area: ajout;
    margin-left: 10rem;
  }

  .catalog-ingredients {
    grid-area: catalogue;
    margin-right: 10rem;
    margin-left: 30%;
  }
}

@media (max-width: 947px) {
  .component-catalog-ingredients {
    display: grid;
    grid-template-columns: minmax(0rem, 460rem);
    grid-template-areas:
      "title"
      "ajout"
      "catalogue";
    justify-content: center;
    gap: 80rem;
    &__title {
      padding: 0%;
      margin-bottom: 0;
    }
  }
}
