.fridge-ingredients {
  border: 1rem solid;
  padding: 0 2%;
  margin: 5.5% 4%;
  align-self: start;
  box-sizing: border-box;
  &__title-h2 {
    margin-bottom: 14%;
  }
  &__list {
    margin-top: 12%;
    padding-inline-start: 2%;
  }
  &__ingredient {
    display: grid;
    grid-template-columns: 7fr 1fr 1fr;
    margin-top: 32rem;
  }
  &__ingredient-name {
    margin-bottom: 12.8rem;
    margin-top: 0;
  }
}

.fridge-ingredient-details {
  list-style-type: none;
  padding: 0;

  &__label {
    font-size: 14.4rem;
    opacity: 0.8;
  }
  &__expiration {
    margin-top: 4.8rem;
  }
  &__delete {
    grid-column: 3 / 4;
  }
  &__edit {
    grid-column: 2 / 3;
  }
  &__delete,
  &__edit {
    grid-row: 1 / 2;
    width: 36.8rem;
    height: 36.8rem;
    border: none;
    background: none;
    padding: 1.6rem;
  }
  &__delete-img,
  &__edit-img {
    width: 24rem;
    height: 24rem;
  }
}

@media (min-width: 948px) {
  .fridge-ingredients {
    grid-area: ingredients;
    margin-left: 10rem;
    margin-right: 20%;
  }
}
