.toolbar {
  margin-top: 48rem;
  padding-left: 0;
  padding-right: 0;
}

.collapsibleWithButton {
  margin-top: 24rem;
  .collapsibleCategoryListContainer {
    padding: 0;
    .collapsibleCategoryListItem {
      display: flex;
      list-style: none;
      .collapsibleCheckboxSpan {
        margin-left: auto;
      }
    }
  }
}

.searchbox {
  display: flex;
  flex-wrap: wrap;
  .searchboxInput {
    font-size: 13rem;
    letter-spacing: 0.48rem;
    border: 1rem solid $primary-color;
    border-radius: 3rem;
    width: 81%;
    padding: 4.8rem 4.8rem 4.8rem 9.6rem;
  }
  .searchboxButton {
    width: 50rem;
    height: 25rem;
    background-image: url("../../public/images/loupe2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: $background-color;
    border: none;
    box-shadow: none;
    z-index: -1;
  }
}

@media (min-width: 500px) {
  .searchbox {
    .searchboxInput {
      width: 65%;
    }
  }
}

@media (min-width: 750px) {
  .toolbar {
    margin-top: 80rem;
  }
  .toolbarContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }
  .collapsibleWithButton {
    margin-top: 0;
  }
  .searchbox {
    justify-content: end;
  }
  .categoryButton {
    font-size: 14rem;
    height: 30rem;
    padding: 8rem 40rem 24rem 11.2rem;
  }
  .searchbox {
    .searchboxInput {
      font-size: 14rem;
      padding: 8.32rem 4.8rem 6.72rem 11.2rem;
    }
    .searchboxButton {
      height: 30rem;
    }
  }
}

@media (min-width: 1150px) {
  .categoryButton {
    font-size: 16rem;
    padding: 8rem 43.2rem 27.2rem 11.2rem;
  }
  .searchbox {
    .searchboxInput {
      font-size: 16rem;
      padding: 9.44rem 4.8rem 6.72rem 11.2rem;
    }
    .searchboxButton {
      height: 35rem;
    }
  }
}

@media (min-width: 1450px) {
  .toolbar {
    margin-top: 88rem;
  }
}

@media (min-width: 1600px) {
  .toolbar {
    margin-top: 96rem;
  }
}
