.recipe {
  padding: 15px 20px 15px 20px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
  border-radius: 10px;
  margin-top: 2rem;

  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .title {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 1.2rem 0.5rem 0;
  }

  .contentWrapper {
    font-weight: 500;
    letter-spacing: 0.3px;
    font-size: 13px;

    .recipeDescription {
      line-height: 1.4;
    }
  }
}
