.toolbar {
  margin-top: 48px;
  padding-left: 0;
  padding-right: 0;
}

.collapsibleWithButton {
  margin-top: 24px;
  .collapsibleCategoryListContainer {
    padding: 0;
    .collapsibleCategoryListItem {
      display: flex;
      list-style: none;
      .collapsibleCheckboxSpan {
        margin-left: auto;
      }
    }
  }
}

.searchbox {
  display: flex;
  flex-wrap: wrap;
  .searchboxInput {
    font-size: 13px;
    letter-spacing: 0.48px;
    border: 1px solid $primary-color;
    border-radius: 3px;
    width: 81%;
    padding: 4.8px 4.8px 4.8px 9.6px;
  }
  .searchboxButton {
    width: 50px;
    height: 25px;
    background-image: url("../../public/images/loupe2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: $background-color;
    border: none;
    box-shadow: none;
    z-index: -1;
  }
}

@media (min-width: 500px) {
  .searchbox {
    .searchboxInput {
      width: 65%;
    }
  }
}

@media (min-width: 750px) {
  .toolbar {
    margin-top: 80px;
  }
  .toolbarContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }
  .collapsibleWithButton {
    margin-top: 0;
  }
  .searchbox {
    justify-content: end;
  }
  .categoryButton {
    font-size: 14px;
    height: 30px;
    padding: 8px 40px 24px 11.2px;
  }
  .searchbox {
    .searchboxInput {
      font-size: 14px;
      padding: 8.32px 4.8px 6.72px 11.2px;
    }
    .searchboxButton {
      height: 30px;
    }
  }
}

@media (min-width: 1150px) {
  .categoryButton {
    font-size: 16px;
    padding: 8px 43.2px 27.2px 11.2px;
  }
  .searchbox {
    .searchboxInput {
      font-size: 16px;
      padding: 9.44px 4.8px 6.72px 11.2px;
    }
    .searchboxButton {
      height: 35px;
    }
  }
}

@media (min-width: 1450px) {
  .toolbar {
    margin-top: 88px;
  }
}

@media (min-width: 1600px) {
  .toolbar {
    margin-top: 96px;
  }
}
