.ingredientRecipe {
  margin-top: 40rem;
  margin-bottom: 15rem;
}

.label {
  font-size: 15rem;
  margin-bottom: 2rem;
}

.input {
  border: 1px solid $primary-color;
  border-radius: 3rem;
  padding: 4.8rem;
}

.paragraph {
  margin-bottom: 25rem;
}

.containerError {
  margin-top: 5rem;
}

.ingredientNameContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 15rem;
}

.combinedContainer {
  display: flex;
  margin-bottom: 15rem;
}

.combinedInput {
  max-width: 80rem;
  margin-right: 20rem;
}

.combinedSelect {
  max-width: 150rem;
}

.ingredientFieldList {
  padding-left: 0rem;
}

.recipeIngredientButton {
  border-radius: 5rem;
  padding: 0rem 12rem;
  font-size: 20rem;
}
