#fridgeIngredients h2 {
  margin-bottom: 14%;
}

#fridgeIngredients legend {
  margin-bottom: 3%;
  text-decoration: underline;
}

#fridgeIngredients ul {
  margin-top: 12%;
  padding-inline-start: 2%;
}

#fridgeIngredients li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

fieldset {
  border: 0;
}

#fridgeForm p {
  display: flex;
  flex-wrap: wrap;
}

#fridgeForm p > span {
  flex: 1;
  display: flex;
}

#fridgeForm p > span > input {
  flex: 3;
}

#fridgeForm p > span > select {
  flex: 1;
}

#fridgeForm label {
  margin-right: 5%;
  margin-bottom: 2%;
}

#fridgeForm p > input:not([type="submit"]) {
  flex: 1;
}

#fridgeForm input[type="submit"] {
  margin-left: auto;
  margin-top: 3%;
}

#MyNextRecipes {
  display: grid;
  margin-top: 80px;
}

#fridgeIngredients {
  border: 1px solid;
  padding: 0 2%;
  margin: 5.5% 4%;
  align-self: start;
  box-sizing: border-box;
}

#FridgeRecipes h1 {
  margin-bottom: 6%;
}

@media (min-width: 948px) {
  #MyNextRecipes {
    grid-template-columns: 0.5fr minmax(420px, 540px) minmax(440px, 900px) 1fr;
    grid-template-areas: ". ingredients recipes .";
  }

  #fridgeIngredients {
    grid-area: ingredients;
    margin-left: 10px;
    margin-right: 20%;
  }

  #FridgeRecipes {
    grid-area: recipes;
    margin-right: 10px;
  }
}

@media (max-width: 947px) {
  #MyNextRecipes {
    grid-template-columns: minmax(0px, 460px);
    grid-template-areas:
      "ingredients"
      "recipes";
    justify-content: center;
    gap: 60px;
  }
}
