.form {
  margin-bottom: 7%;
  &__label {
    margin-right: 5%;
    margin-bottom: 2%;
  }
  &__paragraph {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  &__combined-container {
    flex: 1;
    display: flex;
    align-items: stretch;
  }
  &__combined-select {
    padding: 2px;
    padding-left: 7px;
    letter-spacing: 0.06em;
  }
  &__combined-input {
    padding: 2px;
    padding-left: 7px;
  }
  &__input {
    flex: 1;
    padding: 2px;
    padding-left: 7px;
  }
  &__checkbox-container {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  &__submit {
    margin-left: auto;
    margin-top: 3%;
  }
  &__cancel {
    margin-top: 3%;
    margin-left: 16px;
  }
  &__textarea-container {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
  }
  &__textarea {
    flex: 1;
  }
  &__error-message {
    color: #d14642;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
    letter-spacing: 0.03333em;
  }
  .container-error {
    display: flex;
    flex-direction: column;
  }
  .field-error {
    border: solid 1.5px #d14642;
    color: #d14642;
  }
}
