[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-django = "*"

[packages]
django = "*"
djangorestframework = "*"
django-model-utils = "*"

[requires]
python_version = "3.8"
