.form {
  margin-bottom: 7%;
  &__label {
    margin-right: 5%;
    margin-bottom: 2%;
  }
  &__paragraph {
    display: flex;
    flex-wrap: wrap;
  }
  &__combined-container {
    flex: 1;
    display: flex;
  }
  &__combined-input {
    flex: 3;
  }
  &__combined-select {
    flex: 1;
  }
  &__input {
    flex: 1;
  }
  &__submit {
    margin-left: auto;
    margin-top: 3%;
  }
  &__textarea-container {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
  }
  &__textarea {
    flex: 1;
  }
}
