.nav {
  font-family: Georgia, serif;
  background-color: $nav-background-color;
  margin-top: 1.5%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
  &__link {
    text-align: center;
    cursor: pointer;
    height: 40px;
    border-bottom: 1px solid grey;
    text-decoration: none;
    color: rgb(98, 101, 103);
    font-size: 20px;
    line-height: 45px;
    display: block;
    &:hover {
      color: RGB(205, 97, 85);
    }
    &.active {
      box-sizing: border-box;
      color: RGB(205, 97, 85);
      font-weight: bold;
      &:hover {
        font-size: 21px;
        font-weight: bold;
        background-color: RGBa(250, 148, 119, 0.3);
      }
    }
  }
}

@media (min-width: 640px) {
  .nav {
    display: flex;
    align-items: center;
    &__link {
      flex: 1;
      border-bottom: 0;
      &:last-child::after {
        content: "";
        position: absolute;
        border-bottom: 2px solid RGB(205, 97, 85);
        height: 38px;
        width: calc(100% / 3);
        transition: left 0.3s ease-out;
        z-index: 1;
        pointer-events: none;
      }
      &:first-child.nav__link.active ~ ::after {
        left: 0%;
      }
      &:nth-child(2).nav__link.active ~ ::after {
        left: calc(100% / 3);
      }
      &:nth-child(3).nav__link.active::after {
        left: calc(100% / 3 * 2);
      }
    }
  }
}
