.navButtons {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: $background-color;
  padding-top: 160px;
  .navLink {
    text-decoration: none;
    color: $primary-color;
    font-weight: 600;
    border-top: 1px solid $accent-color;
    padding: 27.2px 32px 27.2px 40px;
    &:last-child {
      border-bottom: 1px solid $accent-color;
    }
    &.active {
      color: $accent-color;
    }
  }
}

@media (min-width: 500px) {
  .navButtons {
    text-align: center;
    .navLink {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

@media (min-width: 750px) {
  .navButtons {
    flex-direction: row;
    height: unset;
    width: unset;
    background-color: none;
    justify-content: end;
    padding-top: 16px;
    padding-right: 32px;
    .navLink {
      border: none;
      padding: 16px;
      padding-right: 19.2px;
      font-weight: 500;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

@media (min-width: 1450px) {
  .navButtons {
    padding-right: 48px;
    .navLink {
      padding-right: 32px;
    }
  }
}

@media (min-width: 1600px) {
  .navButtons {
    padding-right: 64px;
    .navLink {
      padding-right: 48px;
    }
  }
}
