.navButtons {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: $background-color;
  padding-top: 10rem;
  .navLink {
    text-decoration: none;
    color: $primary-color;
    font-weight: 600;
    border-top: 1px solid $accent-color;
    padding: 1.7rem 2rem 1.7rem 2.5rem;
    &:last-child {
      border-bottom: 1px solid $accent-color;
    }
    &.active {
      color: $accent-color;
    }
  }
}

@media (min-width: 500px) {
  .navButtons {
    text-align: center;
    .navLink {
      padding-left: 0rem;
      padding-right: 0rem;
    }
  }
}

@media (min-width: 750px) {
  .navButtons {
    flex-direction: row;
    height: unset;
    width: unset;
    background-color: none;
    justify-content: end;
    padding-top: 1rem;
    padding-right: 2rem;
    .navLink {
      border: none;
      padding: 1rem;
      padding-right: 1.2rem;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
