.button {
  cursor: pointer;
  border: 1px solid #d3d3d3;
  padding: 5px 13px 5px 13px;
  border-radius: 6px;
  background-color: rgb(248, 248, 248);
  color: rgb(86, 85, 87);
  font-size: 13px;
}

.button:hover {
  background-color: rgba(110, 109, 110, 0.2);
}
