#dropdown-panel li {
  display: flex;
  list-style: none;
}

#dropdown-panel ul {
  padding: 0;
}

#dropdown-panel ul span {
  margin-left: auto;
}

.dropdown-closed,
.dropdown-open {
  cursor: pointer;
  height: 25px;
  background-repeat: no-repeat;
  background-position: 95% 45%;
  padding: 0px 25px 3px 10px;
  background-size: 14px 14px;
}

.dropdown-closed {
  background-image: url(../../images/fleche_dropdown_bas.png);
}

.dropdown-open {
  background-image: url(../../images/fleche_dropdown_haut.png);
}
