.Recipe {
  padding: 15px 20px 15px 20px;
}

.Recipe h2 {
  margin-top: 0;
}

.Recipe ul {
  padding-top: 10px;
}

.Recipe p {
  padding-top: 15px;
}

em.unsure-ingredient {
  color: #888;
}

#FridgeRecipes .Recipe {
  border: 3px RGBa(235, 117, 105, 0.6) ridge;
  margin: 15px 0;
}

#FridgeRecipes .Recipe.unsure {
  border: 3px #ddd ridge;
}
