.Recipe {
  padding: 15px 20px 15px 20px;
}

.Recipe h2 {
  margin-top: 0;
}

.Recipe ul {
  padding-top: 10px;
}

.Recipe p {
  padding-top: 15px;
}

.curseurMain:hover,
.curseurMain:focus {
  font-size: 153%;
  text-shadow: 0px 4px 4px rgb(200, 200, 200);
  cursor: pointer;
}
