.button {
  background: none;
  cursor: pointer;
  padding: 5px 13px 5px 13px;
  font-size: 13px;
  font-weight: 500;
}

.secondaryButton {
  border-radius: 3px;
  border: 1px solid $primary-color;
}

.secondaryButtonAccent {
  border-radius: 15px;
  border: 1px solid $accent-color;
  color: $accent-color;
}

.collapsibleButton {
  height: 25px;
  background-repeat: no-repeat;
  background-position: 91% 60%;
  padding: 0.3rem 2rem 1.4rem 0.6rem;
  background-size: 14px 14px;
  &.collapsibleButtonOpened {
    background-image: url(../../public/images/fleche_dropdown_haut.png);
  }
  &.collapsibleButtonClosed {
    background-image: url(../../public/images/fleche_dropdown_bas.png);
  }
}
