.collapsible-with-title {
  &__button {
    border: none;
    font-weight: bold;
    font-size: 24rem;
    font-family: "DejaVu Serif", serif;
    padding-left: 0;
    background: none;

    &:hover,
    &:focus {
      font-size: 24.48rem;
      cursor: pointer;
    }
  }
}
