.Recipe {
  padding: 15px 20px 15px 20px;
  &__title {
    margin-top: 0;
  }
  &__ingredients-container {
    padding-top: 10px;
    .unsure-ingredient {
      color: #888;
    }
  }
  &__description {
    padding-top: 15px;
  }
}
