:root {
  font-size: 6.25%;
}

@media (min-width: 2000px) {
  :root {
    font-size: 7%;
  }
}

@media (min-width: 2400px) {
  :root {
    font-size: 7.75%;
  }
}

@media (min-width: 2800px) {
  :root {
    font-size: 8.5%;
  }
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16rem;
  color: $primary-color;
}

h1 {
  font-size: 28rem;
}

h2 {
  font-size: 22rem;
}

fieldset {
  border: 0;
}

fieldset legend {
  margin-bottom: 5%;
  margin-top: 3%;
  text-decoration: underline;
}

select {
  border: 1rem solid #d3d3d3;
  background-color: rgb(248, 248, 248);
}

.hidden {
  display: none;
}
