:root {
  font-size: 6.25%;
}

@media (min-width: 2000px) {
  :root {
    font-size: 7%;
  }
}

@media (min-width: 2400px) {
  :root {
    font-size: 7.75%;
  }
}

@media (min-width: 2800px) {
  :root {
    font-size: 8.5%;
  }
}

body {
  margin: 0;
  padding: 0 24rem;
  font-family: "Montserrat", sans-serif;
  font-size: 16rem;
  color: $primary-color;
}

@media (min-width: 750px) {
  body {
    padding: 0 48rem;
  }
}

@media (min-width: 1450px) {
  body {
    padding: 0 80rem;
  }
}

@media (min-width: 1600px) {
  body {
    padding: 0 112rem;
  }
}

h1 {
  font-size: 28rem;
}

h2 {
  font-size: 24rem;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

legend {
  padding: 0;
}

.hidden {
  display: none;
}
