:root {
  --body-side-margin: 24rem;
  @media (min-width: 750px) {
    --body-side-margin: 48rem;
  }
  @media (min-width: 1450px) {
    --body-side-margin: 80rem;
  }
  @media (min-width: 1600px) {
    --body-side-margin: 112rem;
  }

  font-size: 6.25%;
  @media (min-width: 2000px) {
    font-size: 7%;
  }
  @media (min-width: 2400px) {
    font-size: 7.75%;
  }
  @media (min-width: 2800px) {
    font-size: 8.5%;
  }
}

@media (min-width: 2000px) {
  :root {
    font-size: 7%;
  }
}

@media (min-width: 2400px) {
  :root {
    font-size: 7.75%;
  }
}

@media (min-width: 2800px) {
  :root {
    font-size: 8.5%;
  }
}

body {
  margin: 0;
  font-size: 16rem;
}

body,
button,
input,
textarea,
select {
  font-family: "Montserrat", sans-serif;
  color: $primary-color;
}

h1 {
  font-size: 28rem;
}

h2 {
  font-size: 24rem;
}

ul {
  list-style-type: none;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

legend {
  padding: 0;
}

.hidden {
  display: none;
}
