#FridgeRecipes {
  margin-left: 20px;
}

h1 {
  padding-bottom: 30px;
}

#FridgeRecipes .Recipe {
  border: 3px RGBa(235, 117, 105, 0.6) ridge;
  margin: 15px 0;
}

#FridgeRecipes .Recipe.unsure {
  border: 3px #ddd ridge;
}
