.Recette {
  padding-bottom: 15px;
}

.Recette ul {
  padding-top: 10px;
}

.Recette p {
  padding-top: 15px;
}

.curseurMain:hover,
.curseurMain:focus {
  font-size: 153%;
  text-shadow: 0px 4px 4px rgb(200, 200, 200);
  cursor: pointer;
}
