.fridgeRecipesSection {
  margin-top: 80px;
  .title {
    text-align: center;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 58%;
      left: 0;
      background-color: $secondary-color;
      height: 27.2px;
      width: 100vw;
    }
  }
  .fridgeRecipesWrapper {
    padding: 0 24px;
  }

  .consumeButton {
    font-size: 11px;
    padding: 5px 10px;
  }
}

@media (min-width: 750px) {
  .fridgeRecipesSection {
    margin-top: 64px;
    .title {
      font-size: 35px;
      &::before {
        height: 35.2px;
      }
    }
    .fridgeRecipesWrapper {
      padding: 0 48px;
    }
    .consumeButton {
      font-size: 12px;
      padding: 6px 12px;
    }
  }
}

@media (min-width: 1150px) {
  .fridgeRecipesSection {
    .fridgeRecipes {
      display: flex;
      justify-content: space-between;
    }
    .title {
      font-size: 40px;
      text-align: start;
      padding-left: 25%;
      &::before {
        height: 40px;
      }
    }
    .consumeButton {
      font-size: 13px;
      padding: 7px 13px;
    }
  }
}

@media (min-width: 1250px) {
  .fridgeRecipesSection {
    .title {
      font-size: 45px;
      &::before {
        height: 44.8px;
      }
    }
  }
}

@media (min-width: 1450px) {
  .fridgeRecipesSection {
    margin-top: 48px;
    .title {
      font-size: 50px;
      padding-left: 17%;
      &::before {
        height: 48px;
      }
    }
    .fridgeRecipesWrapper {
      padding: 0 80px;
    }
  }
}

@media (min-width: 1600px) {
  .fridgeRecipesSection {
    margin-top: 32px;
    .title {
      padding-left: 7%;
    }
    .fridgeRecipesWrapper {
      padding: 0 112px;
    }
  }
}

@media (min-width: 1750px) {
  .fridgeRecipesSection {
    .title {
      padding-left: 6.5%;
    }
  }
}

@media (min-width: 1800px) {
  .fridgeRecipesSection {
    .title {
      padding-left: 6%;
    }
  }
}
